{% extends 'base.html' %}
{% block content%}

 <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Tiendas/Negocios</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Elija una Tienda...</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                        {% for business in businesses %}
                        <h3 onclick="window.location.href='{% url 'business' business %'" style="cursor: pointer;">
                            {{ business }}
                          </h3>
                        {% endfor %}
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}